@model Category

<form method="post">
    <input asp-for="Name" placeholder="Kategori adı giriniz" class="form-control" />

    <button type="submit" class="btn btn-primary">Ekle</button>
    <button type="reset" class="btn btn-danger">Temizle</button>

</form>