@model Author

<form class="Form" method="post">

    <label class="form-label" asp-for="Name">Yazar Adı</label>
    <input asp-for="Name" class="form-control" value="@Model.Name" placeholder="Lütfen yazar adını giriniz" />

    <label asp-for="Biography" class="form-label">Biyografi</label>
    <textarea asp-for="Biography"  class="form-control" rows="5" placeholder="Biyografi giriniz">@Model.Biography</textarea>

    <button type="submit" class="btn btn-success>Güncelle</button>
    <button type="reset" class="btn btn-danger">Temizle</button>

</form>