@model Book


<form method="post" >
    <input asp-for="Name" placeholder="Kitap adı giriniz" class="form-control" />
    <input asp-for="ISBM" placeholder="ISBM giriniz" class="form-control" />
    <input asp-for="Category.Name" placeholder="Kategori adını giriniz" class="form-control" />
    
    

    <button type="submit" class="btn btn-primary">Ekle</button>
    <button type="reset" class="btn btn-danger">Temizle</button>

</form>