@model Book


<form class="Form" method="post">

    <label class="form-label" asp-for="Name">Kitap Adı</label>
    <input asp-for="Name" class="form-control" placeholder="Kitap adı giriniz" />

    <label asp-for="PageCount" class="form-label">Biyografi</label>
    <input asp-for="PageCount" class="form-control" placeholder="Sayfa sayısını giriniz"/>
    <label asp-for="ISBM" class="form-label">ISBM</label>
    <input asp-for="ISBM" class="form-control" placeholder="ISBN numarasını giriniz"/>
    <label for="IsDigital" class="form-label">Dijital mi?</label>
    <div>
        <input type="radio" id="isDigitalYes" name="IsDigital" value="yes">
        <label for="isDigitalYes">Evet</label>
    </div>
    <div>
        <input type="radio" id="isDigitalNo" name="IsDigital" value="no">
        <label for="isDigitalNo">Hayır</label>
    </div>



    <button type="submit" class="btn btn-primary">Ekle</button>
    <button type="reset" class="btn btn-danger">Temizle</button>

</form>